<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appinfo.dao.version.VersionMapper">
<select id="apVersionList" resultType="Version">

SELECT A.*,B.softwareName AS AppName,D.
valueName AS publishStatusName FROM `app_version` A INNER JOIN `app_info` B ON A.appId=B.id
INNER JOIN `data_dictionary` D ON A.publishStatus=D.valueId WHERE 
A.appId=#{appId} AND D.typeName='发布状态'

</select>
<select id="versionQuery" resultType="Version">
SELECT * FROM `app_version` WHERE id=#{id}

</select>
</mapper>